launch_q.py
launch_q2.py
launch_q3.py
args_q.py
args_q2.py
args_q3.py
btc_data.py
scripts/donders_data/*
scripts/simulated_data/*
scripts/mrc_data/*
scripts/cichy_data/*
scripts/rich_data/*
scripts/replay_data/*
scripts/things_data/*
scripts/preCompiled_edfmex
data/*
results/*
tmp/*
.ipynb_checkpoints
.DS_Store
*.pyc
*.asv
*.mat
*.zip
scripts/.DS_Store

notebooks/*.png
notebooks/*.txt
notebooks/eeg_visu/*
notebooks/mvpa_figures/*
notebooks/*jvsc*

scripts/cichy_data.py
scripts/classifiers_simpleNN.py
scripts/classifiers_wavenet.py
scripts/donders_data.py
scripts/mrc_data.py
scripts/wavenets_classifier.py
scripts/wavenets_full.py
scripts/wavenets_simple.py
scripts/emb_matrix.txt
scripts/excel_data.txt
scripts/headpos.py
scripts/headpos.ipynb
scripts/plot.py
scripts/plot.py
scripts/plot.py
scripts/classifiers_linear.py
scripts/pnet.c
notebooks/*.pdf


launch_test.py
notebooks/MEG-transfer-decoding.code-workspace
notebooks/tmp/
notebooks/*.gif
results_test/
scripts/args.py
scripts/data/
scripts/results/
scripts/terminal.sh
scripts/well/
transformer/
wavenets_classifier.py

.vscode/
data_old/
*.ipynb
